body {
    /* background-color: #333333; */
    /* display: flex; */
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  .container {
    margin-left: 30%;
    width: 700px;
  }
  .container .accordion {
    width: 100%;
    color: white;
    overflow: hidden;
    position: relative;
  }
  input {
    position: absolute;
    z-index: -1;
  }
  label {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #ceaee8;
    cursor: pointer;
  }
  label:hover {
    background: #e7dbf0;
  }
  .container .accordion .content {
    max-height: 0px;
    padding: 0 15px;
    color: black;
    background: #e7dbf0;
    transition: all 0.35s;
    word-wrap: break-word;
  }
  .rotate {
    position: absolute;
    top: 15px;
    right: 15px;
    transition: 0.25s;
  }
  input[type="checkbox"]:checked ~ .rotate {
    transform: rotate(-180deg);
  }
  input[type="checkbox"]:checked ~ .content {
    max-height: 100vh;
    padding: 15px;
  }

/* Basic styling for the search bar */
.container2 {
    width: 100%;
    height: auto;
}

.box {
    width: 80%;
    height: 58px;
    background-color: #fff;
    margin: 20px auto;
}

.search-bar {
    width: 55%;
    margin: 40px auto;
    /* line-height: 56px; */
    position: relative
}

form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    width: 83%;
    height: 33px;
    padding: 0 10px;
    color: #000;
    border: 0.2px solid #BEBEBE;
    border-radius: 2px 0 0 2px;
    z-index: 2
  }
  
  input:focus {
    border: 1.1px solid #1c62b9;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.4);
  }
  
  button {
    position: absolute;
    width: 11%;
    height: 33px;
    border: 1px solid #BEBEBE;
    border-left: 0;
    /* top: 13px; */
    right: 0;
    border-radius: 0px 2px 2px 0;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    background-color: #f0f0f0;
    z-index: 3
  }

button {
    background-color: #ceaee8;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

/* Optional: Add hover effect to the button */
button:hover {
    background-color: #e7dbf0;
}